:root {
  --color-primary-accent: #5b34da;
  --color-primary: #000;
  --color-background: rgb(255, 255, 255, 1);
  --color-secondary: rgb(194, 194, 194);
  --color-tertiary: rgb(247, 247, 247, 0.97);
  --color-pink: rgb(255, 170, 183);
  --color-header-background: #f7f7f7;
  --color-html-background: white;
}
[data-theme='dark'] {
  --color-primary-accent: #9d86e9;
  --color-primary: rgb(255, 255, 255);
  --color-background: rgb(0, 0, 0, 1);
  --color-secondary: rgb(255, 255, 255);
  --color-tertiary: rgb(24, 24, 24, 0.97);
  --color-pink: pink;
  --color-header-background: #000000;
  --color-html-background: black;
}

html {
  background-color: var(--color-header-background);
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 0;
  margin: 0;
  font-family: DM Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: fit-content;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'DM Mono';
  src: url('../public/DM_Mono/DMMono-Italic.ttf');
  src: url('../public/DM_Mono/DMMono-Light.ttf');
  src: url('../public/DM_Mono/DMMono-LightItalic.ttf');
  src: url('../public/DM_Mono/DMMono-Medium.ttf');
  src: url('../public/DM_Mono/DMMono-MediumItalic.ttf');
  src: url('../public/DM_Mono/DMMono-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../public/DM_Sans/DMSans-Bold.ttf');
  src: url('../public/DM_Sans/DMSans-BoldItalic.ttf');
  src: url('../public/DM_Sans/DMSans-Italic.ttf');
  src: url('../public/DM_Sans/DMSans-Medium.ttf');
  src: url('../public/DM_Sans/DMSans-MediumItalic.ttf');
  src: url('../public/DM_Sans/DMSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
